@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: var(--font-inter);
    --font-playfair: var(--font-playfair);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-primary bg-beige;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-md px-4 py-2 text-sm font-medium shadow-button transition-colors;
  }

  .btn-primary {
    @apply bg-teal text-white hover:bg-teal-dark;
  }

  .btn-secondary {
    @apply bg-white text-primary hover:bg-beige-light;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Continuous scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 4rem)); /* Adjust based on logo spacing */
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}
